
.input_box{
    display: inline;
    border:none;
    border-bottom:1px solid black;
    /* border-radius: 30px; */
    width:300px;
    height: 50px;
    font-size: 20px;
    
}
#check_youtube{
    margin-top: 10px;
    width: 300px;
    height: 30px;
}
#new_music_table{
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    /* border: 1px solid black; */
}
.new_music_table tr td{
    border-bottom: 5px solid black;
    padding: 10px;
}