body {
    width: 100%;
    margin: 0 auto;

}
body_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
#body_mid_div{
    /* display: inline; */
    align-items: center;
    width:80%;
    margin:0 auto;
    text-align: center;
    /* align-self: center; */
}
/* home_main */
#top_bar{
    width: 70%;
    height: 10%;
    display: block;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 60px;
    border-bottom: 1px solid #E6E6E6
}

#top_bar a{
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
    padding: 10px;
    font-size: 20px;
    border-radius: 30px;
}
/* item menu bar */
#item{
    width:70%;
    text-align: center;
    margin: 0 auto;
}
#item a{
    text-decoration: none;
    font-size: 20pt;
    margin: 10px 30px;
    color: black;
}

/* main image body */
.img_body{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    max-width: 70%;
    justify-content:space-around;    
}
.img_body_item{
    display: inline-flex;
    /* width: 250px; */
    /* height: 250px; */
    padding: 10px 10px;
    /* background-color: red; */
    background-clip: border-box;
    border-radius: 30px;
    margin-top:30px;
    /* margin: 0 auto; */
}
.img_body_item img {
    /* width: 250px; */
    /* height: 250px; */
    border-radius: 30px;
}


