{% extends 'main.html' %}
{% block content%}
    <div>
        <h3>Writer: {{item.user_id}}</h3>
        {%if user.id == item.user_id%}
            <a href="/music/modify/{{item.id}}"> Modify </a>
            &nbsp;&nbsp;&nbsp;
            <a href="/music/remove/{{item.id}}">Remove</a>
        {%endif%}
        <h2>Title: {{item.title}}</h2>
        <p>Singer : {{item.singer}}, Musical Composer : {{item.musical_composer}}</p>
    </div>
    <hr style="width: 60%"><br>
    <div>
        <iframe id="movie"width="960" height="540" src="https://www.youtube.com/embed/{{item.youtube_id}}" 
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
    </div>
    <br><br><hr style="width: 60%">
    <div>
        <h3>Content</h3><br>
        <p>{{item.content}}</p>
    </div>
    <div>
        <h3>Comment</h3>
        <form action="{{item.id}}/add_comment" method="POST">
            <textarea name="comment" id="comment0" cols="40" rows="3" style="font-size:25px" placeholder="Comment..." required></textarea>
            <br>
            {%if user.is_authenticated %}
                <button type="submit">Add_Comment</button>
            {%else%}
                <a href="/login/">login now</a>
            {%endif%}
        </form>
        <h5>Comment</h5>
        {%if comment %}
        <table style="width:40%;margin:auto;text-align: center;">
            {%for com in comment%}  
                <tr>
                    <td><p style="display: block;">Writer : {{com.creater_id}}</p></td>
                    
                    {%if user.id == com.creater_id %}

                        <form action="{{item.id}}/modify_comment/{{com.id}}" method="post">
                            <td><input id="comment{{com.id}}"name="new_comment{{com.id}}" value={{com.comment}} ></td>
                            <!-- readonly -->
                            <td id="modify_td"><button id="modify_comment" >Modify</button></td>
                        </form>
                        <form action="{{item.id}}/delete_comment/{{com.id}}" method="post">
                            <td><button type="submit">Delete</button>
                        </form>
                            <!-- <td><a href=""  type="submit">Delete</a></td> -->
                    {%else%}
                        <td><p id="comment">{{com.comment}}</p></td>
                    {%endif%}
                </tr>
            {%endfor%}    
        </table>
        {%else%}
            <h5>Not Comment</h5>
        {%endif%}
    </div>
    <script>
        var modify = document.getElementById('modify_comment');

        modify.addEventListener("click",function add_input (e){
            // e.preventDefault();
            // var comment = document.getElementById('comment');
            // var td = document.getElementById("modify_td");
            // var input = document.createElement("input");
            // input.value = comment.innerHTML;
            // comment.innerHTML = "";
            // input.name="new_comment";
            // td.appendChild(input);
            
            // modify.removeEventListener("click", add_input);
        });
        
    </script>
{%endblock%}
