{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <link rel="stylesheet" href="{% static 'css/add_music.css'%}">
    <title>Document</title>
</head>
<body>
    <div id="top_bar">
        {% if user.is_authenticated %}
            <a href="/logout/" style="float: right">로그아웃</a>  
            <label for="hello user"style="float: right">Hello! &nbsp&nbsp&nbsp {{user.username}}</label>
        {% else %} 
            <a href="/register/" style="float: right">회원가입</a>
            <a href="/login/" style="float: right">로그인</a>
        {% endif %}
        <a href="/" style="float: left">홈</a>
    </div>
    <br><br>
    <item>
        <div id="item">
            <a href="/">Hot Music</a>
            <a href="/music/">new</a>
            <a href="#">etc</a>
        </div>
    </item>
    <br><br>
    <body_mid>
        <div id="body_mid_div">
            {% block content %}
            <body_center>
                <div class="img_body">
                    {%for i in movies%}
                        <div class="img_body_item">
                            <img src="http://img.youtube.com/vi/{{i.youtube_id}}/mqdefault.jpg" alt="">       
                        </div>
                    <!-- <div class="img_body_item">
                        <img src="{% static 'image/test_img.jpg'%}" alt="">       
                    </div>
                    <div class="img_body_item">
                        <img src="{% static 'image/test_img2.jpg'%}" alt="">       
                    </div>
                    <div class="img_body_item">
                        <img src="{% static 'image/test_img3.jpg'%}" alt="">       
                    </div>
                    <div class="img_body_item">
                        <img src="{% static 'image/test_img4.jpg'%}" alt="">       
                    </div> -->
                    {%endfor%}
                </div>
            </body_center>
            {% endblock %}
        </div>
    </body_mid>

</body>
</html>